
section {
    display:flex;
    flex-direction: row;
    
}

body {
    margin: 0;
    background-color: bisque;
}

header {
    background: teal;
    height: 150px;
    display: flex;
}

header nav {
    /* margin-right: 50px;
    margin-left: 400px; */
    padding-top: 15px;
    float: right;
    font-size: 20px;
    align-self: center;
}

header nav li {
    display: inline-block;
    margin-left: 50px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    margin: 0;
    align-self: center;
    width: 50%;
}

a {
    color: inherit;
    text-decoration: inherit;
}


article {
    margin: 2px;
    padding: 2px;
    position: relative;
    }

figure {
        margin:0;
    }

.parent {
    max-width: 1700px;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 40%;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    display: inline;

}

#imagelarge {
    background-image: url(./images/winter.jpg) ;
    background-size: cover;
    width: 100%;
    height: 300px;
}


.row {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
}

.portfolio {
    width: 100%;
    margin-right: 2%;
    margin-top: .5%;
    display: flex;
    flex-flow: row wrap;
    }

.row>* {
        flex: 1 2 100px;
    }

#firstproject {
   width: 100%;
   }

#contactmelist{
  background-color: aquamarine;
  text-decoration: none;
  display: inline;
}

a:hover {
    color: rgb(126, 118, 238);
   }


/* #addpaddingtop {
    padding-top: 20px;
} */

.sidebar {
    width: 30px;
    margin-right: 2%;
    border-right: 2px solid black;
    /* height: 300px; */
    padding-right: 5%;
    padding-left: 5%;
    }

.bannerimage {
    height: 100px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-size: cover;
    background-position: center;
}

